.App {
  font-family:Verdana, Helvetica, sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


header {
  height: 15vh;
  min-height: 10vh;
  margin-bottom: 5vh;
}

section {
  display: flex;
  flex-direction: column;
  height: 85vh;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
  width: 50%;
  height: auto;
  justify-content:space-around;
  align-content:flex-start;
  font-weight: bold;
}
form div {
  margin-top: 10px;
  height: 6vh;
  flex-basis: 45%;
  text-align: center;
  line-height: 6vh;
  font-size: 14px;
}

form div.formDiv {
  line-height: 6vh;
  background: lightseagreen;
  text-align: left;
}

.form-control {
  height: 30px;
  font-size: 14px;
  width: 75%;
  background:lemonchiffon;
}

button {
  font-weight: bold;
  text-align: center;
  background:cornsilk;
  height: 8vh;
  width: 100%;
}

.message {
  width: 50%;
  text-align: center;
  color:orangered;
  font-size: 12px;
}


input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

select:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

select:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
